<head>
</head>
<body>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-white ">理想ではなくベストなお部屋さがしを</h1>
        <p class="lead text-white">"住まトク"は出来るだけ"お得に"物件を探したい方</br>
        どれだけ家賃が下がっているかをリアルタイムでお調べします</p>
      </div><!-- /.container -->
    </div><!-- /.jumbotron -->
    <div class="container">
      <div class="row">
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "map.jpg", :size =>'140x140' %>
        </div>
        <!-- <h2>Heading</h2> -->
        <h2>STEP.1 エリア選択</h2>
        <p>あなたが検討したいエリアを決めましょう。</br>
        ポータルサイトのエリア選択時のURLをご用意ください。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <%= link_to "使い方を見る", homes_path, class: 'btn btn-secondary' %>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "touch.jpg", :size =>'140x140' %>
        </div>
        <h2>STEP.2 実行</h2>
        <p>現在入居可能な物件の家賃を自動で収集。<br>
        リアルタイムの情報をワンクリックで検索します。</p>
        <%= link_to "今すぐ始める", new_real_property_path, class: 'btn btn-secondary' %>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="rounded-circle">
          <%= image_tag "result.jpg", :size =>'140x140' %>
        </div>
        <h2>STEP.3 お得なエリアがわかる</h2>
        <p>実行したエリアのエリアのお得度を紹介します。<br>
        ※現在は先方サイトにご迷惑をおかけしないよう、<br>
        エリアの平均家賃をお届けしています。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
    <%= form_for(@area) do |f| %>
    <div class="field"><!-- 都道府県 -->
      <%= f.label :prefecture_id %><br>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :include_blank => true %>
      <!-- デフォルトでid: "user_prefecture_id" がついてる -->
    </div>

    <div class="field"><!-- 市町村 -->
      <div id="city-area">
        <%= render partial: 'select_city', locals: {cities: @cities} %>
      </div>
    </div>
    <%#= f.submit '実行' %>
<% end %>
  <%= link_to "実行", new_real_property_path %>

  <h1>ここにURLを入力してください</h1>
<!-- form_with部分 -->
<%= form_with model: @url, url:real_properties_path, local:true do |f| %>
  <%= f.text_field :url %>
  <%= f.submit '実行' %>
<% end %>


</script>
  </main>
</body>